<div class="header-title">
  <div class="container">
    <h1>Любой товар до 1000 руб.</h1>
    <p>Одежда, обувь, аксессуары из популярных магазинов по минимальной цене!</p>
  </div>
</div><!-- /top section ends -->


<!-- Slider -->
<div class="slider-section">
  <div class="container">

    <div class="gallery items-5">
      <div id="item-1" class="control-operator"></div>
      <div id="item-2" class="control-operator"></div>
      <div id="item-3" class="control-operator"></div>
      <div id="item-4" class="control-operator"></div>
      <div id="item-5" class="control-operator"></div>

      <figure class="item">
        <!-- Image -->
        <%= image_tag('slider_image.png') %>
        <!-- -->

        <!-- Content of the slide -->
        <div class="content">
          <h1>Вязаный свитер Montpellier Coulomb</h1>
          <p>Интересная фактурная вязка ручной работы подчеркнет индивидуальность, делая образ неповторимым.</p>
          <p class="price"><span>680</span> руб.</p>
        </div>
        <!-- -->

        <!-- Arrows-controls -->
        <div class="custom-controls">
          <a href="#item-5"><i class="fa fa-chevron-left"></i></a>
          <a href="#item-2"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!-- -->
      </figure>

      <figure class="item">
        <!-- Image -->
        <%= image_tag('slider_image.png') %>
        <!-- -->

        <!-- Content of the slide -->
        <div class="content">
          <h1>Вязаный свитер Montpellier Coulomb</h1>
          <p>Интересная фактурная вязка ручной работы подчеркнет индивидуальность, делая образ неповторимым.</p>
          <p class="price"><span>680</span> руб.</p>
        </div>
        <!-- -->

        <!-- Arrows-controls -->
        <div class="custom-controls">
          <a href="#item-1"><i class="fa fa-chevron-left"></i></a>
          <a href="#item-3"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!-- -->
      </figure>

      <figure class="item">
        <!-- Image -->
        <%= image_tag('slider_image.png') %>
        <!-- -->

        <!-- Content of the slide -->
        <div class="content">
          <h1>Lorem ipsum dolor sit amet, consectetur a
          </h1>
          <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris </p>
        </div>
        <!-- -->

        <!-- Arrows-controls -->
        <div class="custom-controls">
          <a href="#item-2"><i class="fa fa-chevron-left"></i></a>
          <a href="#item-4"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!-- -->
      </figure>

      <figure class="item">
        <!-- Image -->
        <%= image_tag('slider_image.png') %>
        <!-- -->

        <!-- Content of the slide -->
        <div class="content">
          <h1>Вязаный свитер Montpellier Coulomb</h1>
          <p>Интересная фактурная вязка ручной работы подчеркнет индивидуальность, делая образ неповторимым.</p>
          <p class="price"><span>680</span> руб.</p>
        </div>
        <!-- -->

        <!-- Arrows-controls -->
        <div class="custom-controls">
          <a href="#item-3"><i class="fa fa-chevron-left"></i></a>
          <a href="#item-5"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!-- -->
      </figure>

      <figure class="item">
        <!-- Image -->
        <%= image_tag('slider_image.png') %>
        <!-- -->

        <!-- Content of the slide -->
        <div class="content">
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing
          </h1>
          <p>tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <!-- -->

        <!-- Arrows-controls -->
        <div class="custom-controls">
          <a href="#item-4"><i class="fa fa-chevron-left"></i></a>
          <a href="#item-1"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!-- -->
      </figure>

      <div class="controls">
        <a href="#item-1" class="control-button">•</a>
        <a href="#item-2" class="control-button">•</a>
        <a href="#item-3" class="control-button">•</a>
        <a href="#item-4" class="control-button">•</a>
        <a href="#item-5" class="control-button">•</a>
      </div>
    </div>

  </div><!-- /.container -->
</div><!-- /.slider -->

<!-- Categories -->
<div class="categories-section">
  <div class="container">
    <div class="row">

      <% @categories.each do |category| %>
          <div class="col-sm-6 col-md-4">
            <div class="category wow animated bounceIn" data-wow-delay="0.5s">
              <%= link_to controller: 'products', action: 'index', category: category do %>
                <%= image_tag category.image, class: 'category-image' %>
                <div class="caption">
                  <h4><%= category.title %></h4>
                  <p><%= category.products.count.to_s + ' товаров' %></p>
                </div>
              <% end %>
            </div>
          </div>
      <% end %>


    </div><!-- /.row -->
  </div><!-- /.container-->
</div><!-- /Categories -->

