<!-- Product-Card section -->
<div class="product-card-section">
  <div class="container">
    <div class="row">
      <!-- Photo of product block -->
      <div class="col-md-5">
        <div class="product product-in-card">
          <!-- Product's image -->
          <div class="product-image">
            <%= image_tag @product.image %>
          </div>
          <!-- -->
        </div>
      </div>
      <!-- /Photo of product block -->

      <!-- Info of the product -->
      <div class="col-md-7">
        <div class="product-in-card">
          <h2 class="product-title"><%= @product.title %></h2>
          <div class="price">
            <div class="now"><%= @product.price %><span class='currency'>руб.</span></div>
          </div>
          <div class="product-links">
            <%= link_to 'Купить', line_items_path(product_id: @product), class: 'submit-outside-input buy', method: 'post' %>
          </div>
          <div class="product-info">
            <div class="row">
              <div class="col-sm-12 short-description">
                <h4>Краткое описание</h4>
                <p> <%= @product.description %> </p>
              </div>
            </div>
          </div>
        </div><!-- /.product-in-cart -->


      </div><!-- /.col-md-7 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /Product-Card section -->